<!DOCTYPE html>
    
<head>
    <title>{{display}}</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">

</head>
    
<body>

    <div class="defcontainer">
        <div class="defheader">

        </div>
        
        <div class="defmenu">
            <div class='list-group'>
                <a href="login" class="list-group-item">Logout</a>
                <a href="registration-logged-in" class="list-group-item">Registration</a>
                <a href="trading-success" class="list-group-item">Trading</a>
                <a href="admin-success" class="list-group-item list-group-item-info">Admin Panel</a>
            </div>
        </div>
        
        <div class="defcontent">
            <br>
            <div class='chfont container'>

                <table name="mytable">
                    <tr style="background: linear-gradient(to top, white, lightblue); border-padding:20px;">
                        <th style= "padding:20px" name="id">ID</th>
                        <th style= "padding:20px" name="username">Username</th>
                        <th style= "padding:20px" name="firstname">First name</th>
                        <th style= "padding:20px" name="lastname">Last Name</th>
                        <th style= "padding:20px" name="balance">Balance</th>
                        <th style= "padding:20px" name="balance">Type</th>

                    </tr>
                    
                    <p>{{#each result}}
                            <tr>
                                <td style= "padding:20px">{{this._id}}</td>
                                <td style= "padding:20px">{{this.username}}</td>
                                <td style= "padding:20px">{{this.firstname}}</td>
                                <td style= "padding:20px">{{this.lastname}}</td>
                                <td style= "padding:20px">{{this.cash2}}</td>
                                <td style= "padding:20px">{{this.type}}</td>
                            </tr>
                    {{/each}}</p>

                </table>

            </div>

        </div>
                <footer class="chfont page-footer font-small blue">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="">Stock Trader</a>  All Rights Reserved

        </footer>
    </div> 



    <script> 


            <script>
                function myFunction() {
                    window.alert("Are you sure you want to delete the account?")
                }
            </script>

    
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type='text/javascript' src='bundle_1.js'></script>
    </body>
</html>