<!DOCTYPE html>
<html lang="en">


<head>
	<title>Stock Name | {{display}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href='/css/trading-success.css'>
</head>

<body>


	<nav class="navbar navbar-expand-lg nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/trading-success">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="fas fa-bars"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse justify-content-start" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item md-space">
					<form id="event-form" action="/news/currency/{{currency_code}}" method="POST">
						<select id="currency-code-select" class="browser-default custom-select button-container mr-3"
							name="currency_preference" onchange="this.form.submit();" onload="switchCode(event);">
							<option id="USD" value="USD">USD</option>
							<option id="JPY" value="JPY">JPY</option>
							<option id="BGN" value="BGN">BGN</option>
							<option id="CZK" value="CZK">CZK</option>
							<option id="DKK" value="DKK">DKK</option>
							<option id="GBP" value="GBP">GBP</option>
							<option id="HUF" value="HUF">HUF</option>
							<option id="PLN" value="PLN">PLN</option>
							<option id="RON" value="RON">RON</option>
							<option id="SEK" value="SEK">SEK</option>
							<option id="CHF" value="CHF">CHF</option>
							<option id="ISK" value="ISK">ISK</option>
							<option id="NOK" value="NOK">NOK</option>
							<option id="HRK" value="HRK">HRK</option>
							<option id="RUB" value="RUB">RUB</option>
							<option id="TRY" value="TRY">TRY</option>
							<option id="AUD" value="AUD">AUD</option>
							<option id="BRL" value="BRL">BRL</option>
							<option id="CAD" value="CAD">CAD</option>
							<option id="CNY" value="CNY">CNY</option>
							<option id="HKD" value="HKD">HKD</option>
							<option id="IDR" value="IDR">IDR</option>
							<option id="ILS" value="ILS">ILS</option>
							<option id="INR" value="INR">INR</option>
							<option id="KRW" value="KRW">KRW</option>
							<option id="MXN" value="MXN">MXN</option>
							<option id="MYR" value="MYR">MYR</option>
							<option id="NZD" value="NZD">NZD</option>
							<option id="PHP" value="PHP">PHP</option>
							<option id="SGD" value="SGD">SGD</option>
							<option id="THB" value="THB">THB</option>
							<option id="ZAR" value="ZAR">ZAR</option>
						</select>
					</form>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center" href="/trading-success">Trading</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center" href="/trading-portfolio">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center ranking-right" href="/news-hub">Rankings</a>
				</li>
				<li class="nav-item text-nowrap md-space">
					<a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign
						Out</a>
				</li>
				<li class="nav-item md-space">
					<a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
				</li>
			</ul>
		</div>
	</nav>

	{{!-- Graph --}}
	<canvas style="padding: 20px;" class="footer-spacer" id="myChart" width="300" height="100"></canvas>

	<!-- Footer -->
	{{> footer}}


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>

	<!-- ChartJS CDN 1 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"
		crossorigin="anonymous"></script>

	<!-- ChartJS CDN 2 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
		crossorigin="anonymous"></script>

	<!-- ChartJS CDN 3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" crossorigin="anonymous"></script>

	<!-- ChartJS CDN 4 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script>

		function switchCode(event) {
			var index = document.getElementById("currency-code-select").options.namedItem("{{currency_preference}}").index;
			document.getElementById("currency-code-select").selectedIndex = index;
		}
		switchCode();

	</script>
<script>


	// Any of the following formats may be used
	var ctx = document.getElementById('myChart');
	var data = {{{ json data }}};
	var key_length = Object.keys(data).length;
	function getSum(total, num) {
		return total + num;
	}
	var val_sum = Object.values(data).reduce(getSum);
	var avg = val_sum / key_length;

	console.log(avg);
	var start_point = data[0];
	var last_point = data[data.length-1];
	
	var avg = (last_point - start_point)/key_length;
	var avg_line = [];
	avg_line.push(start_point);
	for (var i=0;i<key_length-1;i++) {
		var end = avg_line.length-1;
		var new_point = avg_line[end] + avg;
		avg_line.push(new_point);
	}
	console.log(avg_line);


	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: {{{ json labels }}},
	datasets: [{
		label: '{{chart_title}} (compared to {{{currency_preference}}})',
		data: {{{ json data }}},
		backgroundColor: [
		'rgba(255, 99, 132, 0.2)',
		'rgba(54, 162, 235, 0.2)',
		'rgba(255, 206, 86, 0.2)',
		'rgba(75, 192, 192, 0.2)',
		'rgba(153, 102, 255, 0.2)',
		'rgba(255, 159, 64, 0.2)'
	],
		borderColor: [
		'rgba(255, 99, 132, 1)',
		'rgba(54, 162, 235, 1)',
		'rgba(255, 206, 86, 1)',
		'rgba(75, 192, 192, 1)',
		'rgba(153, 102, 255, 1)',
		'rgba(255, 159, 64, 1)'
	],
		fill: true,
		borderWidth: 1,
		pointHitRadius: 20,
		borderCapStyle: 'miter',
		tension: 0
			},
			{
		label: 'Average',
		data: avg_line,
		backgroundColor: [
		'lightblue'
	],
		borderColor: [
		'lightblue'
	],
		fill: false,
		borderWidth: 1,
		pointHitRadius: 20,
		borderCapStyle: 'miter',
		tension: 0
			}]
		},
	options: {
		scales: {
			yAxes: [{
				ticks: {
					beginAtZero: false
				},
				scaleLabel: {
					display: true,
					labelString: '{{{currency_preference}}} ({{{currency_symbol}}})'
				}
			}],
				xAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Date (yyyy-mm--dd)'
					}
				}]
		}
	}
	});
</script>
</body>
</html>