<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{display}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="icon" href="./favicon.ico" type="image/x-icon">
	<link rel='stylesheet' href='./css/style.css'>

</head>

<body>

	<!-- NAV BAR -->
	{{> loggedOutNavbar}}

	<!-- Login Form -->
	<div class="content-margin footer-spacer">
		<h1 class="title">{{title}}</h1>
		<div class="container-fluid d-flex">
			<div class="m-auto">
				<form action="/login" method="POST">
					<br>
					<br>
					<div class="form-group">
						<label for="exampleFormControlInput1">Username</label>
						<input type="text" class="form-control" name='username' id="username" placeholder="Username">

					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Password</label>
						<input type="password" class="form-control" name='password' id="password"
							placeholder="Password">
					</div>

					<input type="submit" class="btn btn-secondary" value="Login">
				</form>
				<div id='submission'></div>
			</div>
		</div>
	</div>







	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
	{{> footer}}
</html>








{{!-- 
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{display}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="icon" href="./favicon.ico" type="image/x-icon">
	<link rel='stylesheet' href='./css/style.css'>

</head>

<body>

	<!-- NAV BAR -->
	<nav class="navbar navbar-expand nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/trading-success">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="p-2 text-light" href="/login">Sign In</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light" href="/register" data-toggle="modal"
						data-target="#exampleModal">Register</a>
				</li>

				<!-- Modal -->
				<form action="/register" method="POST" class="more-width">
					<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content  more-width">
								<div class="modal-header">
									<h1 class="title">Registration Form</h1>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body">
									<br>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="firstname">First Name</label>
											<input class="form-control" id="firstname" name="firstname"
												placeholder="Enter Your First Name" type="text" data-placement="bottom"
												title="First name must be 3-30 characters long and must only contain letters." />
										</div>
										<div class="form-group col-md-6">
											<label for="lastname">Last Name</label>
											<input class="form-control" id="lastname" name="lastname"
												placeholder="Enter Your Last Name" type="text" data-placement="bottom"
												title="Last name must be 3-30 characters long and must only contain letters." />
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="username">Username</label>
											<input class="form-control" id="reg-username" name="username"
												placeholder="Enter Your Username" type="text" data-placement="bottom"
												title="Username must have 5-15 characters and may only be alphanumeric." />
										</div>
										<div class="form-group col-md-12">
											<label for="email">Email</label>
											<input type="email" class="form-control" name='email' id="email"
												placeholder="Enter Your Email" type="text" data-placement="bottom"
												title="Email must have 5-15 characters and may only be alphanumeric">
										</div>
										<div class="form-group col-md-12 form-group-pwd">
											<label for="password">Password</label>
											<div class="input-group">
												<input class="form-control input-1" id="reg-password" name="password"
													placeholder="Enter Your Password" type="password"
													data-placement="bottom"
													title="Password must have 5-15 characters and may only be alphanumeric." />
												<div class="input-group-btn">
													<button class="btn btn-default" type="button" onclick="checkPwd()">
														<i class="fas fa-eye" id="showhide"></i>
													</button>
												</div>
											</div>
											<div class="progress-bar_wrap">
												<div class="progress-bar_item progress-bar_item-1"></div>
												<div class="progress-bar_item progress-bar_item-2"></div>
												<div class="progress-bar_item progress-bar_item-3"></div>
											</div>
											<span class="progress-bar_text">Password is blank</span>
										</div>
										<div class="form-group col-md-12">
											<label for="confirm_password">Confirm Password</label>
											<input class="form-control" id="confirm_password" name="confirm_password"
												placeholder="Enter Your Password Again" type="password"
												data-placement="bottom" title="Please confirm your password." />
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="s1Q">Security Question #1</label>
											<br>
											<select id="s1Q" name="s1Q" class="small-text">
												<option>Choose a question</option>
											</select>
											<input type="text" class="form-control" name="s1A">
										</div>
										<div class="form-group col-md-12">
											<label for="s2Q">Security Question #2</label>
											<br>
											<select id="s2Q" name="s2Q">
												<option>Choose a question</option>
											</select>
											<input type="text" class="form-control" name="s2A">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary">Register</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<div id='submission'></div>
			</ul>
		</div>
	</nav>

	<!-- Login Form -->
	<div class="content-margin login-footer-spacer">
		<h1 class="title">{{title}}</h1>
		<div class="container-fluid d-flex">
			<div class="m-auto">
				<form action="/login" method="POST">
					<br>
					<br>
					<div class="form-group">
						<label for="exampleFormControlInput1">Username</label>
						<input type="text" class="form-control" name='username' id="username" placeholder="Username">

					</div>
					<div class="form-group">
						<label for="exampleFormControlInput1">Password</label>
						<input type="password" class="form-control" name='password' id="password"
							placeholder="Password">
					</div>

					<input type="submit" class="btn btn-secondary" value="Login">
				</form>
				<div id='submission'></div>
			</div>
		</div>
	</div>




	{{> footer}}


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script type="text/javascript" src='bundle_1.js'></script>
	<script type="text/javascript">
		var select = document.getElementById("s1Q");
		var options = {{{ json s1Questions }}};
		for (var i = 0; i < options.length; i++) {
			var opt = options[i];
			var el = document.createElement("option");
			el.textContent = opt;
			el.value = opt;
			select.appendChild(el);
		}
		var select = document.getElementById("s2Q");
		var options = {{{ json s2Questions }}};
		for (var i = 0; i < options.length; i++) {
			var opt = options[i];
			var el = document.createElement("option");
			el.textContent = opt;
			el.value = opt;
			select.appendChild(el);
		}
	</script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('input').tooltip();
		});
	</script>
	<script>
		$(document).ready(function () {
			const changeText = function (el, text, color) {
				el.text(text).css('color', color);
			};
			$('.input-1').keyup(function () {
				let len = this.value.length;
				const pbText = $('.form-group-pwd .progress-bar_text');
				if (len === 0) {
					$('.form-group-pwd .progress-bar_item').each(function () {
						$(this).removeClass('active')
					});
					$('.form-group-pwd .active').css('background-color', 'transparent');
					changeText(pbText, 'Password is blank');
				} else if (len > 0 && len <= 4) {
					$('.form-group-pwd .progress-bar_item-1').addClass('active');
					$('.form-group-pwd .progress-bar_item-2').removeClass('active');
					$('.form-group-pwd .progress-bar_item-3').removeClass('active');
					$('.form-group-pwd .active').css('background-color', '#FF4B47');
					changeText(pbText, 'Too weak');
				} else if (len > 4 && len <= 8) {
					$('.form-group-pwd .progress-bar_item-2').addClass('active');
					$('.form-group-pwd .progress-bar_item-3').removeClass('active');
					$('.form-group-pwd .active').css('background-color', '#F9AE35');
					changeText(pbText, 'Could be stronger');
				} else {
					$('.form-group-pwd .progress-bar_item').each(function () {
						$(this).addClass('active');
					});
					$('.form-group-pwd .active').css('background-color', '#2DAF7D');
					changeText(pbText, 'Strong password');
				}
			});
		});
		function checkPwd() {
			var icon = document.getElementById("showhide");
			var pwd = document.getElementById("reg-password");
			if (pwd.type === "password") {
				pwd.type = "text";
				icon.className = "fas fa-eye-slash";
			} else {
				pwd.type = "password";
				icon.className = "fas fa-eye";
			}
		}
	</script>

</body>

</html> --}}