<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{display}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="images/icon1.png" />
    <link rel='stylesheet' href="/css/style.css">

</head>

<body>

	<!-- NAV BAR -->
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/news-hub">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>


		<form id="event-form" action="/news-hub" method="POST" class="mr-auto">
			<select id="currency-code-select" class="browser-default custom-select button-container mr-3"
				name="currency_preference" onchange="this.form.submit();" onload="switchCode(event);">
				<option id="USD" value="USD">USD</option>
				<option id="JPY" value="JPY">JPY</option>
				<option id="BGN" value="BGN">BGN</option>
				<option id="CZK" value="CZK">CZK</option>
				<option id="DKK" value="DKK">DKK</option>
				<option id="GBP" value="GBP">GBP</option>
				<option id="HUF" value="HUF">HUF</option>
				<option id="PLN" value="PLN">PLN</option>
				<option id="RON" value="RON">RON</option>
				<option id="SEK" value="SEK">SEK</option>
				<option id="CHF" value="CHF">CHF</option>
				<option id="ISK" value="ISK">ISK</option>
				<option id="NOK" value="NOK">NOK</option>
				<option id="HRK" value="HRK">HRK</option>
				<option id="RUB" value="RUB">RUB</option>
				<option id="TRY" value="TRY">TRY</option>
				<option id="AUD" value="AUD">AUD</option>
				<option id="BRL" value="BRL">BRL</option>
				<option id="CAD" value="CAD">CAD</option>
				<option id="CNY" value="CNY">CNY</option>
				<option id="HKD" value="HKD">HKD</option>
				<option id="IDR" value="IDR">IDR</option>
				<option id="ILS" value="ILS">ILS</option>
				<option id="INR" value="INR">INR</option>
				<option id="KRW" value="KRW">KRW</option>
				<option id="MXN" value="MXN">MXN</option>
				<option id="MYR" value="MYR">MYR</option>
				<option id="NZD" value="NZD">NZD</option>
				<option id="PHP" value="PHP">PHP</option>
				<option id="SGD" value="SGD">SGD</option>
				<option id="THB" value="THB">THB</option>
				<option id="ZAR" value="ZAR">ZAR</option>
			</select>
		</form>



		<nav class="my-2 my-md-0 mr-md-3 nav-pills">
			<a class="p-2 text-light" href="/trading-success">Trading</a>
			<a class="p-2 text-light" href="/trading-portfolio">Portfolio</a>
			<a class="p-2 text-light" href="/news-hub">Rankings</a>
		</nav>
		<a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign Out</a>
		<a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
	</div>



    <div class="row p-5 footer-spacer">
        <div class="col-6">
            <h2 class="sub-header">Stocks</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">Ticker</th>
                            <th class="col-md-2">Price ({{{currency_symbol}}})</th>
                            <th class="col-md-3">Trend</th>
                            <th class="col-md-4">Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each stockDataList}}
                        <tr>
                            <td class="col-md-1">{{this.code}}</td>
                            <td class="col-md-2">{{this.this.price}}</td>
                            <td class="col-md-3"><img class="card-img-top mx-auto d-block trend-img" src="{{{this.img}}}" alt="Card image cap">
                            </td>
                            <td class="col-md-4"><a target="_blank" href="/news/stock/{{this.code}}">Stats</a></td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6">
            <h2 class="sub-header">Currencies</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-1">Code</th>
                            <th class="col-md-2">Price</th>
                            <th class="col-md-3">Trend</th>
                            <th class="col-md-4">Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each currencyDataList}}
                        <tr>
                            <td class="col-md-1">{{this.code}}</td>
                            <td class="col-md-2">{{this.this.price}}</td>
                            <td class="col-md-3"><img class="card-img-top mx-auto d-block trend-img" src="{{{this.img}}}" alt="Card image cap">
                            </td>
                            <td class="col-md-4"><a target="_blank" href="/news/currency/{{this.code}}">Stats</a></td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{> footer}}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


	<script>

	function switchCode(event) {
		var index = document.getElementById("currency-code-select").options.namedItem("{{currency_preference}}").index;
		document.getElementById("currency-code-select").selectedIndex = index;
	}
	switchCode();

	</script>

</body>

</html>