<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{display}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href='/css/trading-success.css'>
</head>

<body>
	<!-- NAV BAR -->
	{{!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-0 border-bottom shadow-sm nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/trading-success">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>


		<form id="event-form" action="/convert/currency" method="POST">
			<select id="currency-code-select" class="browser-default custom-select button-container mr-3"
				name="currency_preference" onchange="this.form.submit();" onload="switchCode(event);">
				<option id="USD" value="USD">USD</option>
				<option id="JPY" value="JPY">JPY</option>
				<option id="BGN" value="BGN">BGN</option>
				<option id="CZK" value="CZK">CZK</option>
				<option id="DKK" value="DKK">DKK</option>
				<option id="GBP" value="GBP">GBP</option>
				<option id="HUF" value="HUF">HUF</option>
				<option id="PLN" value="PLN">PLN</option>
				<option id="RON" value="RON">RON</option>
				<option id="SEK" value="SEK">SEK</option>
				<option id="CHF" value="CHF">CHF</option>
				<option id="ISK" value="ISK">ISK</option>
				<option id="NOK" value="NOK">NOK</option>
				<option id="HRK" value="HRK">HRK</option>
				<option id="RUB" value="RUB">RUB</option>
				<option id="TRY" value="TRY">TRY</option>
				<option id="AUD" value="AUD">AUD</option>
				<option id="BRL" value="BRL">BRL</option>
				<option id="CAD" value="CAD">CAD</option>
				<option id="CNY" value="CNY">CNY</option>
				<option id="HKD" value="HKD">HKD</option>
				<option id="IDR" value="IDR">IDR</option>
				<option id="ILS" value="ILS">ILS</option>
				<option id="INR" value="INR">INR</option>
				<option id="KRW" value="KRW">KRW</option>
				<option id="MXN" value="MXN">MXN</option>
				<option id="MYR" value="MYR">MYR</option>
				<option id="NZD" value="NZD">NZD</option>
				<option id="PHP" value="PHP">PHP</option>
				<option id="SGD" value="SGD">SGD</option>
				<option id="THB" value="THB">THB</option>
				<option id="ZAR" value="ZAR">ZAR</option>
			</select>
		</form>


		{{#ifEquals preference "currency"}}
		<form action='/trading-success-stocks' method="POST" class="button-container mr-auto">
			<input type="hidden" id="pref" name="pref" value="stock">
			<button type="submit" class="btn btn-primary">Stocks</button>
		</form>
		{{else}}
		<form action='/trading-success-currency' method="POST" class="button-container mr-auto">
			<input type="hidden" id="pref" name="pref" value="currency">
			<button type="submit" class="btn btn-primary">Currencies</button>
		</form>
		{{/ifEquals}}


		<nav class="my-2 my-md-0 mr-md-3 nav-pills">
			<a class="p-2 text-light" href="/trading-success">Trading</a>
			<a class="p-2 text-light" href="/trading-portfolio">Portfolio</a>
			<a class="p-2 text-light" href="/news-hub">Rankings</a>
		</nav>
		<a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign Out</a>
		<a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
	</div> --}}
	<nav class="navbar navbar-expand-lg nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/trading-success">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="fas fa-bars"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse justify-content-start" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item md-space">
					<form id="event-form" action="/convert/currency" method="POST">
						<select id="currency-code-select" class="browser-default custom-select button-container mr-3"
							name="currency_preference" onchange="this.form.submit();" onload="switchCode(event);">
							<option id="USD" value="USD">USD</option>
							<option id="JPY" value="JPY">JPY</option>
							<option id="BGN" value="BGN">BGN</option>
							<option id="CZK" value="CZK">CZK</option>
							<option id="DKK" value="DKK">DKK</option>
							<option id="GBP" value="GBP">GBP</option>
							<option id="HUF" value="HUF">HUF</option>
							<option id="PLN" value="PLN">PLN</option>
							<option id="RON" value="RON">RON</option>
							<option id="SEK" value="SEK">SEK</option>
							<option id="CHF" value="CHF">CHF</option>
							<option id="ISK" value="ISK">ISK</option>
							<option id="NOK" value="NOK">NOK</option>
							<option id="HRK" value="HRK">HRK</option>
							<option id="RUB" value="RUB">RUB</option>
							<option id="TRY" value="TRY">TRY</option>
							<option id="AUD" value="AUD">AUD</option>
							<option id="BRL" value="BRL">BRL</option>
							<option id="CAD" value="CAD">CAD</option>
							<option id="CNY" value="CNY">CNY</option>
							<option id="HKD" value="HKD">HKD</option>
							<option id="IDR" value="IDR">IDR</option>
							<option id="ILS" value="ILS">ILS</option>
							<option id="INR" value="INR">INR</option>
							<option id="KRW" value="KRW">KRW</option>
							<option id="MXN" value="MXN">MXN</option>
							<option id="MYR" value="MYR">MYR</option>
							<option id="NZD" value="NZD">NZD</option>
							<option id="PHP" value="PHP">PHP</option>
							<option id="SGD" value="SGD">SGD</option>
							<option id="THB" value="THB">THB</option>
							<option id="ZAR" value="ZAR">ZAR</option>
						</select>
					</form>
				</li>
				<li class="nav-item md-space">
					{{#ifEquals preference "currency"}}
					<form action='/trading-success-stocks' method="POST" class="button-container mr-auto">
						<input type="hidden" id="pref" name="pref" value="stock">
						<button type="submit" class="btn btn-primary">Stocks</button>
					</form>
					{{else}}
					<form action='/trading-success-currency' method="POST" class="button-container mr-auto">
						<input type="hidden" id="pref" name="pref" value="currency">
						<button type="submit" class="btn btn-primary">Currencies</button>
					</form>
					{{/ifEquals}}
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center" href="/trading-success">Trading</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center" href="/trading-portfolio">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center ranking-right" href="/news-hub">Rankings</a>
				</li>
				<li class="nav-item text-nowrap md-space">
					<a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign
						Out</a>
				</li>
				<li class="nav-item md-space">
					<a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
				</li>
			</ul>
		</div>
	</nav>


	<div class="jumbotron my-0 py-2 metrics-container">
		<div class="container">
			<div class="row">
				<div class="col-sm text-center">
					<p class="font-weight-light mb-0 text-muted">PORTFOLIO EARNINGS</p>
					<big class="font-weight-light mb-0 text-primary">{{{currency_symbol}}}{{{roundToTwo earnings }}}<small><i
								class="fa fa-arrow-alt-circle-up"></i></small> </big>
				</div>
				<div class="col-sm text-center left-line balance">
					<p class="font-weight-light mb-0 text-muted">ACCOUNT BALANCE</p>
					<big
						class="font-weight-light mb-0 text-primary">{{{currency_symbol}}}{{{roundToTwo userCash}}}</big>
				</div>
				<div class="col-sm text-center left-line">
					<p class="font-weight-light mb-0 text-muted">STOCKS BOUGHT</p>
					<big class="font-weight-light mb-0 text-primary">{{{amountBought}}} Stocks</big>
				</div>
				<div class="col-sm text-center left-line">
					<p class="font-weight-light mb-0 text-muted">STOCKS SOLD</p>
					<big class="font-weight-light mb-0 text-primary">{{{amountSold}}} Stocks</big>
				</div>
				<div class="col-sm text-center left-line no-border-bottom">
					<p class="font-weight-light mb-0 text-muted">TOTAL TRANSACTIONS</p>
					<big class="font-weight-light mb-0 text-primary">{{{num_transactions}}} Transactions</big>
				</div>
			</div>
		</div>
	</div>
	{{#ifEquals preference "currency"}}
	<marquee class="border-bottom py-2 remove-on-small-screen" behaviour="scroll" ; bgcolor="white" ; scrollamount=10;
		onmouseover="this.stop();" onmouseleave="this.start();">
		{{#each marqueeData}}
		<a href="/news/currency/{{this.code}}" target="_blank" class="mx-3"><span
				style="color: #0984e3"><b>{{{this.code}}}:</b></span><span
				style="color: #0984e3"><b>{{{../currency_symbol}}} {{{roundToTwo this.price}}}</b></span> <img
				src="{{{this.img}}}" height=20px; width=20px; hspace=2; padding=2px;></a>
		{{/each}}
	</marquee>
	{{else}}
	<marquee class="border-bottom py-2 remove-on-small-screen" behaviour="scroll" ; bgcolor="white" ; scrollamount=10;
		onmouseover="this.stop();" onmouseleave="this.start();">
		{{#each marqueeData}}
		<a href="/news/stock/{{this.code}}" target="_blank" class="mx-3"><span
				style="color: #0984e3"><b>{{{this.code}}}:</b></span><span
				style="color: #0984e3"><b>{{{../currency_symbol}}} {{{this.price}}}</b></span> <img src="{{{this.img}}}"
				height=20px; width=20px; hspace=2; padding=2px;></a>
		{{/each}}
	</marquee>

	{{/ifEquals}}


	<div class="container mt-5">
		<h1 class="border-bottom pb-3 mb-4">Stock Trading</h1>
		<div class="alert alert-info font-weight-bold" role="alert">{{title}}</div>
		<div class="row border-bottom pb-3">
			<div class="col-sm-4 col-md-12 col-lg-4">
				<div class="card bg-light" id="addStockForm">
					<form class="p-4" action="/trading-success-buy" method="POST">
						<h3>Buy Stocks</h3>
						<div class="form-row">
							<div class="col-md mb-3">
								<label for="buystockticker">Ticker</label>
								<input type="text" class="form-control form-control-sm" id="buystockticker"
									placeholder="Enter Stock Ticker e.g FB" name="buystockticker">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md mb-2">
								<label for="buystockticker">Quantity</label>
								<input type="number" class="form-control form-control-sm" id="buystockqty"
									placeholder="Enter Quantity" name="buystockqty">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<br>
								<input type="submit" class="btn btn-primary pl-auto" value="Buy">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-4 col-md-12 col-lg-4">
				<div class="card bg-light" id="sellStockForm">
					<form class="p-4" action="/trading-success-sell" method="POST">
						<h3>Sell Stocks</h3>
						<div class="form-row">
							<div class="col-md mb-3">
								<label for="sellstockticker">Ticker</label>
								<input type="text" class="form-control form-control-sm" id="sellstockticker"
									placeholder="Enter Stock Ticker e.g FB" name="sellstockticker">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md mb-2">
								<label for="sellstockticker">Quantity</label>
								<input type="number" class="form-control form-control-sm" id="sellstockqty"
									placeholder="Enter Quantity" name="sellstockqty">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4">
								<br>
								<input type="submit" class="btn btn-primary pl-auto" value="Sell">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-4 col-md-12 col-lg-4">
				<div class="card bg-light" id="addStockForm">
					<form class="p-4" action="/trading-success-search" method="POST">
						<h3>Check Price</h3>
						<div class="form-row">
							<div class="col-md mb-3">
								<label for="buystockticker">Ticker</label>
								<input type="text" class="form-control form-control-sm" id="buystockticker"
									placeholder="Enter Stock Ticker e.g FB" name="stocksearch">
							</div>
						</div>
						<div class="form-row">
							<div class="col-md mb-2">
								{{!-- <label for="buystockticker">Quantity</label> --}}
								<input type="hidden" class="form-control form-control-sm" id="buystockqty"
									placeholder="Enter Quantity">
							</div>
						</div>
						<div class="form-row mt-5">
							<div class="col-md-4">
								<br>
								<input type="submit" class="btn btn-primary mt-3 pl-auto" value="Calculate">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row px-3 pt-2 pb-3 remove-on-small-screen">
			<small class="mr-3">Recent Stocks</small>
			{{#each uniqueTransactions}}
			<span class="badge btn-primary mx-1 pointer">{{{ this.stock }}}</span>
			{{/each}}
		</div>
	</div>

	<div class="container mt-2 footer-spacer">
		<h1 class="pb-3 mb-4">Your Stocks</h1>
		<div class="row">
			{{#each stocks}}
			<div class="col-sm-12 col-md-12 col-lg-3">
				<div class="card mb-3 ">
					<div class="card-body">
						<h5 class="card-title">{{{this.stock_name}}}</h5>
						<p class="d-flex justify-content-between"><small>AMOUNT:</small> <small>{{{this.amount}}}<i
									class="far fa-clone ml-1"></i></small></p>
						<p class="d-flex justify-content-between"><small>PROFIT:</small> <small>{{{../currency_symbol}}}
								{{{roundToTwo this.profit}}}<i class="far fa-money-bill-alt ml-1"></i></small></p>
						<p class="d-flex justify-content-between"><small>PRICE/STOCK:</small>
							<small>{{{../currency_symbol}}} {{{roundToTwo this.today_rate}}}<i
									class="far fa-money-bill-alt ml-1"></i></small>
						</p>
						<p class="d-flex justify-content-between"><small><a target="_blank"
									href="/news/stock/{{{this.stock_name}}}">Show me some stats!</a></small></p>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>



	<!-- Footer -->
	{{> footer}}


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		function switchCode(event) {
			var index = document.getElementById("currency-code-select").options.namedItem("{{currency_preference}}").index;
			document.getElementById("currency-code-select").selectedIndex = index;
		}
		switchCode();
	</script>

</body>

</html>