<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trading</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel='stylesheet' href='./css/style.css'>
</head>

<body>


  <!-- NAV BAR -->
  <div class="nav-margin-trading">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="#">
        <i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
        Name Stock
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registration-logged-in">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="trading-success">Trading<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="trading-portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin-restricted">Admin</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <marquee behaviour="scroll" scrollamount=10 bgcolor="black" onmouseover="this.stop();" onmouseleave="this.start();">
    <a href="/news/currency/CAD"><span style="color: red"><b>CAD:</b></span><span
        style="color: white">{{cad}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/EUR"><span style="color: red"><b>EUR:</b></span> <span
        style="color: white">{{eur}}</span><img src="../images/greentriangle.png" height=25px width=25px
        hspace="8"></a>,
    <a href="/news/currency/JPY"><span style="color: red"><b>JPY:</b></span> <span
        style="color: white">{{jpy}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/AUD"><span style="color: red"><b>AUD:</b></span> <span
        style="color: white">{{aud}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/HKD"><span style="color: red"><b>HKD:</b></span> <span
        style="color: white">{{hkd}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/GBP"><span style="color: red"><b>GBP:</b></span> <span
        style="color: white">{{gbp}}</span><img src="../images/greentriangle.png" height=25px width=25px
        hspace="8"></a>,
    <a href="/news/currency/HKD"><span style="color: red"><b>HKD:</b></span> <span
        style="color: white">{{hkd}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/MXN"><span style="color: red"><b>MXN:</b></span> <span
        style="color: white">{{mxn}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/INR"><span style="color: red"><b>INR:</b></span> <span
        style="color: white">{{inr}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>,
    <a href="/news/currency/CNY"><span style="color: red"><b>CNY:</b></span> <span
        style="color: white">{{cny}}</span><img src="../images/redtriangle.png" height=15px width=15px hspace="10"></a>
  </marquee>

  <br><br>
  <!-- Check Stock Price -->
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Check Stock Price</h1>
        <p class="lead">Please note all prices are in USD.</p>
      </div>
      <div class='chfont container'>
        <p class="font-weight-bold">{{head}}</p>
        <br>
        <div class="input-group btn-group">
          <form action="/trading-success-search" method="POST">
            <label for="stocksearch">Stock Search Price</label>
            <input type="text" class="form-control border border-right-0" name="stocksearch" id="stocksearch"
              placeholder="Stock Ticker e.g. TSLA">
            <br><br>
            <div class="alert alert-info font-weight-bold" role="alert">
              {{title}}
            </div>
            <br><br>
            <input type="submit" class="btn btn-info" value="Search">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Buy & Sell Stock -->
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Buy & Sell Stocks</h1>
        <p class="lead">Please note all prices are in USD.</p>
      </div>
      <div class='chfont container'>
        <form action="/trading-success-buy" method="POST">
          <div class="row">
            <div class="col">
              <label for="stocksearch">Buy Stock</label>
              <input type="text" class="form-control border border-right-0" name="buystockticker" id="buystockticker"
                placeholder="Enter Stock Ticker e.g FB">
            </div>
            <div class="col">
              <label for="stocksearch">Quantity</label>
              <input type="number" class="form-control border border-right-0" name="buystockqty" id="buystockqty"
                placeholder="Enter Quantity">
            </div>
          </div>
          <br>
          <input type="submit" class="btn btn-info" value="Buy">
        </form>
        <br><br>
        <form action="/trading-success-sell" method="POST">
          <div class="row">
            <div class="col">
              <label for="stocksearch">Sell Stock</label>
              <input type="text" class="form-control" name="sellstockticker" id="sellstockticker"
                placeholder="Enter Stock Ticker e.g FB">
            </div>
            <div class="col">
              <label for="stocksearch">Quantity</label>
              <input type="number" class="form-control" name="sellstockqty" id="sellstockqty"
                placeholder="Enter Quantity">
            </div>
          </div>
          <br>
          <input type="submit" class="btn btn-info" value="Sell">
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="footer-margin">
    <footer class="navbar navbar-dark bg-dark fixed-bottom">
      <div class="container">
        <div class="row m-auto">
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="#">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="#">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="#">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </div>
          <div class="col-3 col-md-3">
            <a class="navbar-brand" href="#">
              <i class="fas fa-map-marked-alt fa-2x "></i>
            </a>
          </div>
        </div>
      </div>
      <p class="m-auto copyright">
        © 2019 Copyright:<strong> <a href="#">Stock Trader </a></strong>All Rights Reserved
      </p>
    </footer>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>