<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{display}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel='stylesheet' href='/css/style.css'>
	<link rel='stylesheet' href='/css/trading-success.css'>
</head>

<body>


	<!-- NAV BAR -->
	{{!-- <div class="navbar navbar-expand-lg nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/trading-success">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>


		<form id="event-form" action="/trading-portfolio" method="POST" class="mr-auto">
			<select id="currency-code-select" class="browser-default custom-select button-container mr-3"
				name="currency_preference" onchange="this.form.submit();" onload="switchCode(event);">
				<option id="USD" value="USD">USD</option>
				<option id="JPY" value="JPY">JPY</option>
				<option id="BGN" value="BGN">BGN</option>
				<option id="CZK" value="CZK">CZK</option>
				<option id="DKK" value="DKK">DKK</option>
				<option id="GBP" value="GBP">GBP</option>
				<option id="HUF" value="HUF">HUF</option>
				<option id="PLN" value="PLN">PLN</option>
				<option id="RON" value="RON">RON</option>
				<option id="SEK" value="SEK">SEK</option>
				<option id="CHF" value="CHF">CHF</option>
				<option id="ISK" value="ISK">ISK</option>
				<option id="NOK" value="NOK">NOK</option>
				<option id="HRK" value="HRK">HRK</option>
				<option id="RUB" value="RUB">RUB</option>
				<option id="TRY" value="TRY">TRY</option>
				<option id="AUD" value="AUD">AUD</option>
				<option id="BRL" value="BRL">BRL</option>
				<option id="CAD" value="CAD">CAD</option>
				<option id="CNY" value="CNY">CNY</option>
				<option id="HKD" value="HKD">HKD</option>
				<option id="IDR" value="IDR">IDR</option>
				<option id="ILS" value="ILS">ILS</option>
				<option id="INR" value="INR">INR</option>
				<option id="KRW" value="KRW">KRW</option>
				<option id="MXN" value="MXN">MXN</option>
				<option id="MYR" value="MYR">MYR</option>
				<option id="NZD" value="NZD">NZD</option>
				<option id="PHP" value="PHP">PHP</option>
				<option id="SGD" value="SGD">SGD</option>
				<option id="THB" value="THB">THB</option>
				<option id="ZAR" value="ZAR">ZAR</option>
			</select>
		</form>



		<nav class="my-2 my-md-0 mr-md-3 nav-pills">
			<a class="p-2 text-light" href="/trading-success">Trading</a>
			<a class="p-2 text-light" href="/trading-portfolio">Portfolio</a>
			<a class="p-2 text-light" href="/news-hub">Rankings</a>
		</nav>
		<a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign Out</a>
		<a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
	</div> --}}

	<nav class="navbar navbar-expand-lg nav-color">
		<h5 class="my-0 font-weight-normal">
			<a class="navbar-brand" href="/trading-success">
				<i class="fas fa-chart-line fa-2x d-inline-block align-middle"></i>
				STOCK NAME
			</a>
		</h5>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="fas fa-bars"></i>
			</span>
		</button>
		<div class="collapse navbar-collapse justify-content-start" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item md-space">
					<form id="event-form" action="/trading-portfolio" method="POST">
						<select id="currency-code-select" class="browser-default custom-select button-container mr-3"
							name="currency_preference" onchange="this.form.submit();" onload="switchCode(event);">
							<option id="USD" value="USD">USD</option>
							<option id="JPY" value="JPY">JPY</option>
							<option id="BGN" value="BGN">BGN</option>
							<option id="CZK" value="CZK">CZK</option>
							<option id="DKK" value="DKK">DKK</option>
							<option id="GBP" value="GBP">GBP</option>
							<option id="HUF" value="HUF">HUF</option>
							<option id="PLN" value="PLN">PLN</option>
							<option id="RON" value="RON">RON</option>
							<option id="SEK" value="SEK">SEK</option>
							<option id="CHF" value="CHF">CHF</option>
							<option id="ISK" value="ISK">ISK</option>
							<option id="NOK" value="NOK">NOK</option>
							<option id="HRK" value="HRK">HRK</option>
							<option id="RUB" value="RUB">RUB</option>
							<option id="TRY" value="TRY">TRY</option>
							<option id="AUD" value="AUD">AUD</option>
							<option id="BRL" value="BRL">BRL</option>
							<option id="CAD" value="CAD">CAD</option>
							<option id="CNY" value="CNY">CNY</option>
							<option id="HKD" value="HKD">HKD</option>
							<option id="IDR" value="IDR">IDR</option>
							<option id="ILS" value="ILS">ILS</option>
							<option id="INR" value="INR">INR</option>
							<option id="KRW" value="KRW">KRW</option>
							<option id="MXN" value="MXN">MXN</option>
							<option id="MYR" value="MYR">MYR</option>
							<option id="NZD" value="NZD">NZD</option>
							<option id="PHP" value="PHP">PHP</option>
							<option id="SGD" value="SGD">SGD</option>
							<option id="THB" value="THB">THB</option>
							<option id="ZAR" value="ZAR">ZAR</option>
						</select>
					</form>
				</li>
			</ul>
		</div>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center" href="/trading-success">Trading</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center" href="/trading-portfolio">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="p-2 text-light d-flex align-items-center ranking-right" href="/news-hub">Rankings</a>
				</li>
				<li class="nav-item text-nowrap md-space">
					<a class="btn btn-outline-danger" href="/logout" style="margin-right: 7px;">Sign
						Out</a>
				</li>
				<li class="nav-item md-space">
					<a class="btn btn-outline-info" href="/admin-success" style="margin-right: 7px;">Admin</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container mb-5 mt-3">
		<ul class="nav nav-tabs" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
					aria-controls="pills-home" aria-selected="true">Account Details</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
					aria-controls="pills-profile" aria-selected="false">Transactions</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
					aria-controls="pills-contact" aria-selected="false">Statistics</a>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<div class="container">
					<h1 class="display-4">Your Portfolio</h1>
					<p class="lead">Please note all prices are in {{{currency_code}}}.</p>
				</div>
				<div class='chfont container'>
					<p class="font-weight-bold">First Name: {{{firstname}}}</p>
					<p class="font-weight-bold">Last Name: {{{lastname}}}</p>
					<p class="font-weight-bold">User Name: {{{username}}}</p>
					<p class="font-weight-bold">Date Joined:
						{{#with date_joined}}
						{{day_joined}}, {{month_joined}} {{day_num_joined}}, {{year_joined}}
						{{/with}}</p>
					{{!-- <p class="font-weight-bold">
						Stocks:
						{{#each title}}
						{{this.stock_name}} ({{this.amount}}),
						{{/each}}
					</p> --}}
					<p class="font-weight-bold">Balance: {{roundToTwo head}}</p>
					<p class="font-weight-bold">Total Earnings: {{{roundToTwo earnings}}}</p>
					<br>
					<p class="font-weight-bold">Your Stocks:</p>
					<div class="row">
						{{#if stocks}}
						{{#each stocks}}
						<div class="card col-sm-12 col-md-6 col-lg-4 mx-2 my-2">
							<div class="card-body">
								<h5 class="card-title">{{{this.stock_name}}}</h5>
								<p class="d-flex justify-content-between"><small>AMOUNT:</small>
									<small>{{{this.amount}}}<i class="far fa-clone ml-1"></i></small></p>
								<p class="d-flex justify-content-between"><small>PROFIT:</small>
									<small>{{{../currency_symbol}}} {{{roundToTwo this.profit}}}<i
											class="far fa-money-bill-alt ml-1"></i></small></p>
								<p class="d-flex justify-content-between"><small>PRICE/STOCK:</small>
									<small>{{{../currency_symbol}}} {{{roundToTwo this.today_rate}}}<i
											class="far fa-money-bill-alt ml-1"></i></small>
								</p>
								<p class="d-flex justify-content-between"><small><a target="_blank"
											href="/news/stock/{{{this.stock_name}}}">Show me some stats!</a></small>
								</p>
							</div>
						</div>
						{{/each}}
						{{else}}
						<p class="text-muted">Your currently don't have any stocks.</p>
						{{/if}}
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				<div class="container">
					<h2 class="display-4">TRANSACTIONS</h2>
					{{#with userStatsData}}
					<p class="font-weight-bold">Stocks Bought: {{{amountBought}}}</p>
					<p class="font-weight-bold">Stocks Sold: {{{amountSold}}}</p>
					<p class="font-weight-bold">Total Transactions: {{{num_transactions}}}</p>
					{{/with}}
					<div class="table-responsive">
						<table name="mytable" class="table">
							<thead>
								<tr>
									<th>Date</th>
									<th>Company</th>
									<th>Quantity</th>
									<th>Amount ({{{currency_symbol}}})</th>
									<th>Balance ({{{currency_symbol}}})</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								{{reverse displayTransactions}}
								{{#each displayTransactions}}
								<tr>
									<td>{{this.year}}, {{this.month}} {{this.day}}</td>
									<td>{{this.stock_name}}</td>
									<td>{{this.qty}}</td>
									{{#ifEquals this.type "S"}}
									<td>{{roundToTwo this.price}}</td>
									{{else}}
									<td>-{{roundToTwo this.price}}</td>
									{{/ifEquals}}
									<td>{{roundToTwo this.balance}}</td>
									{{#ifEquals this.type "S"}}
									<td>Sale</td>
									{{else}}
									<td>Purchase</td>
									{{/ifEquals}}
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
				<div class="container">
					<h1 class="display-4">Portfolio Statistics</h1>
					<div class="row mb-5 pb-5">
						<div class="col-md-4">
							<div class="card mb-3 pb-3">
								<canvas id="buy_vs_sell" width="200" height="100"></canvas>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3 pb-3">
								<canvas id="purchases" width="200" height="100"></canvas>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3 pb-3">
								<canvas id="sales" width="200" height="100"></canvas>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3 pb-3">
								<canvas id="amount" width="200" height="100"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	{{> footer}}



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>

	<!-- ChartJS CDN 1 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"
		crossorigin="anonymous"></script>

	<!-- ChartJS CDN 2 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
		crossorigin="anonymous"></script>

	<!-- ChartJS CDN 3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" crossorigin="anonymous"></script>

	<!-- ChartJS CDN 4 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script>

		function switchCode(event) {
			var index = document.getElementById("currency-code-select").options.namedItem("{{currency_preference}}").index;
			document.getElementById("currency-code-select").selectedIndex = index;
		}
		switchCode();

	</script>
	<script>
		var userStatsData = {{{ json userStatsData }}};
		console.log(userStatsData);
		var ctx = document.getElementById('buy_vs_sell');
		data = {
			datasets: [{
				backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
				data: [userStatsData.amountBought, userStatsData.amountSold]
			}],

			// These labels appear in the legend and in the tooltips when hovering different arcs
			labels: [
				'Stocks Bought',
				'Stocks Sold'
			],
		};
		var myDoughnutChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
				title: {
					display: true,
					text: 'Stocks Bought Vs Stocks Sold'
				}
			}
		});
	</script>
	<script>
		var purchases = {{{ json purchases }}};
		var ctx = document.getElementById('purchases');
		data = {
			datasets: [{
				backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
				data: Object.values(purchases)
			}],

			// These labels appear in the legend and in the tooltips when hovering different arcs
			labels: Object.keys(purchases),
		};
		var myDoughnutChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
				title: {
					display: true,
					text: 'Purchases By Stock'
				}
			}
		});
	</script>
	<script>
		Chart.plugins.register({
			afterDraw: function (chart) {
				if (chart.data.datasets[0].data.length === 0) {
					// No data is present
					var ctx = chart.chart.ctx;
					var width = chart.chart.width;
					var height = chart.chart.height
					chart.clear();

					ctx.save();
					ctx.textAlign = 'center';
					ctx.textBaseline = 'middle';
					ctx.fillText(chart.options.title.text, width / 2, 18); // <====   ADDS TITLE
					ctx.font = "16px normal 'Helvetica Nueue'";
					ctx.fillText('Not enough data to display graph.', width / 2, height / 2);
					ctx.restore();
				}
			}
		});

		var sales = {{{ json sales }}};
		console.log(sales);
		var ctx = document.getElementById('sales');
		data = {
			datasets: [{
				backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
				data: Object.values(sales)
			}],

			// These labels appear in the legend and in the tooltips when hovering different arcs
			labels: Object.keys(sales),
		};
		var myDoughnutChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
				title: {
					display: true,
					text: 'Sales By Stock'
				}
			}
		});
	</script>
	<script>
		var amount = {{{ json stockAmount }}};
		var ctx = document.getElementById('amount');
		data = {
			datasets: [{
				backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
				data: Object.values(amount)
			}],

			// These labels appear in the legend and in the tooltips when hovering different arcs
			labels: Object.keys(amount),
		};
		var myDoughnutChart = new Chart(ctx, {
			type: 'doughnut',
			data: data,
			options: {
				title: {
					display: true,
					text: 'Amount By Stock'
				}
			}
		});
	</script>
</body>

</html>